git+ssh://github.com/rithvikp/lbl-crn.git#egg=lblcrn

appnope
ase
attrs
backcall
bleach
certifi
chardet
cycler
decorator
defusedxml
entrypoints
idna
ipykernel
ipython
ipython-genutils
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
mistune
mpmath
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
Send2Trash
six
sklearn
sympy
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
ffmpeg
pygame==2.0.0.dev4
